{% extends 'base.html' %}

{% block content %}
    <p class='lead'>Please note the API doesn't currently support fuzzy logic, please enter your desired search parameter accurately</p>
    <p class='lead fa-italic'>
      API currently supports lookup by Latitude/Longitude (decimal degree), City Name, US Zip Code, UK Postal Code, Canada Postal Code, Metar Code, IATA (Airport code), Auto IP Lookup (User IP), Custom IP Lookup (IPv4 & IPv6, user provided IP)
    </p>

    <form action="{% url 'weatherview' %}" method="POST" id="weatherViewForm">
        {% csrf_token %}

        <div id='error-div' class="form-group alert alert-danger">
          <span class="form-errors"></span>
        </div>

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}<div class="alert alert-danger" role="alert">{{ field.errors }}</div>{% endif %}
                {{ field.label_tag }}<br />
                {{ field }} {% if field.id_for_label == 'id_city' %}<small id="cityHelpInline" class="text-muted">City could not be found. Did you mean: <span><a id="cityHelpPlaceholder" href="#"></a></span></small>{% endif %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <div class="row">
        <h4></h4>
    </div>
    <div class="row cityInfoDisplay">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>City Information - <span class="cityInfoSpan text-muted"></span></h5>
                    <h6 class="card-subtitle">Weather forecast information for <span class="cityDateSpan text-muted"></span></h6>
                    <br />
                    <span id="fuzzyInfo" class="small"></span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row temperatureDisplay">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Max Temperature
{#                        <span class="cityInfoSpan"></span>#}
                    </h6>
                    <p class="card-text" id="maxTemperatureCard"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Min Temperature
{#                        <span class="cityInfoSpan"></span>#}
                    </h6>
                    <p class="card-text" id="minTemperatureCard"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Mean Temperature
{#                        <span class="cityInfoSpan"></span>#}
                    </h6>
                    <p class="card-text" id="meanTemperatureCard"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Median Temperature
{#                        <span class="cityInfoSpan"></span>#}
                    </h6>
                    <p class="card-text" id="medianTemperatureCard"></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row humidityDisplay">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6>Max Humidity
{#                        <span class="cityInfoSpan"></span>#}
                    </h6>
                    <p class="card-text" id="maxHumidityCard"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6>Min Humidity
{#                        <span class="cityInfoSpan"></span>#}
                    </h6>
                    <p class="card-text" id="minHumidityCard"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6>Mean Humidity
{#                        <span class="cityInfoSpan"></span>#}
                    </h6>
                    <p class="card-text" id="meanHumidityCard"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6>Median Humidity
{#                        <span class="cityInfoSpan"></span>#}
                    </h6>
                    <p class="card-text" id="medianHumidityCard"></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row graphDisplay">
    </div>
{% endblock %}
